.header {
    @include flexbox(center, space-between);
    background-color: $secondaryColor;
    color: #fff;
    padding-right: 32px;
    position: relative;

    &:before {
        @include beforeAfter(100%, 100vh, rgba(0, 0, 0, 0.6));
        @include posAbolute("tr", -300px, 0);
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
        transition-delay: 0.1s;
        z-index: 9;
    }
    &.active {
        &:before {
            opacity: 1;
            pointer-events: visible;
            right: 0;
        }
    }
    @media (max-width: 991px) {
        padding-right: 0;
    }
    @media (max-width: 575px) {
        justify-content: unset;
    }
    &-logo {
        background-color: $primaryColor;
        padding: 20px;
        @media (max-width: 767px) {
            padding: 0;
            background-color: transparent;
            img {
                width: 100px;
            }
        }
    }
    &-menu {
        @media (max-width: 991px) {
            // display: none;
            @include posAbolute("tr", -300px, 0);
            position: fixed;
            background-color: #fff;
            height: 100vh;
            z-index: 999;
            padding: 20px;
            width: 300px;

            opacity: 0;
            pointer-events: none;
            transition: 0.5s;
            &.active {
                opacity: 1;
                pointer-events: visible;
                right: 0;
            }
            a {
                color: #000;
            }
        }
        li {
            display: inline-block;
            margin: 0 20px;

            @media (max-width: 1500px) {
                margin: 0px 10px;
            }
            @media (max-width: 991px) {
                display: block;
                margin-bottom: 20px;
            }
            &:before {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-right: 6px;
                background-color: $primaryColor;
                transform: translateY(-4px);
                opacity: 0;
                transition: 0.3s;
            }
            &:hover {
                &:before {
                    opacity: 1;
                    transform: translateY(-2px);
                }
                a {
                    color: $primaryColor;
                }
            }
            a {
                text-transform: uppercase;
                font-weight: 500;
                transition: 0.3s;
            }
        }
    }
    &-search {
        background-color: #000;
        border-radius: 30px;
        position: relative;
        width: 300px;
        @media (max-width: 1500px) {
            width: 250px;
        }
        @media (max-width: 991px) {
            width: 300px;
        }
        @media (max-width: 575px) {
            width: 200px;
            margin-left: auto;
            margin-right: 20px;
        }
        input {
            color: #fff;
            border: none;
            background-color: transparent;
            padding: 12px 20px;
            outline: none;
            font-size: $fs-14;
            width: 100%;
            &::placeholder {
                color: #6a6f79;
            }
        }
        i {
            @include posAbolute("centerY", 90%, 50%);
            color: $primaryColor;
        }
    }
    &-contact {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        padding-left: 32px;
        @media (max-width: 1260px) {
            display: none;
        }
        p:first-child {
            font-size: $fs-24;
        }
        p:last-child {
            font-weight: 300;
        }
    }
    &-icon {
        display: none;
        font-size: $fs-32;
        background-color: $primaryColor;
        padding: 32px;
        @media (max-width: 991px) {
            display: block;
        }
        @media (max-width: 767px) {
            padding: 12px 24px;
        }
        @media (max-width: 400px) {
            font-size: $fs-20;
            padding: 12px 16px;
        }
    }
}
